/**color Variable**/
$color-dark-blue:#00123C;
$color-golden:#D79711;
$color-black:#000509;
$color-light-black:#545454;
$color-gray:#F1F1F1;
$color-white:#FFFFFF;


// Media Query Variables
$min1025: "only screen and (min-width: 1025px)";
$min992: "only screen and (min-width: 992px)";
$min768: "only screen and (min-width: 992px)";
$min576: "only screen and (min-width: 576px)";
$max1800: "only screen and (max-width: 1800px)";
$max1850: "only screen and (max-width: 1850px)";
$max1650: "only screen and (max-width: 1650px)";
$max1440: "only screen and (max-width: 1440px)";
$max1366: "only screen and (max-width: 1366px)";
$max1280: "only screen and (max-width: 1280px)";
$max1199: "only screen and (max-width: 1199.98px)";
$max1024: "only screen and (max-width: 1024px)";
$max991: "only screen and (max-width: 991.98px)";
$max767: "only screen and (max-width: 767.98px)";
$max640: "only screen and (max-width: 640px)";
$max575: "only screen and (max-width: 575.98px)";
$max480: "only screen and (max-width: 480px)";
$max375: "only screen and (max-width: 375px)";
$max320: "only screen and (max-width: 320px)";
