/*=====================================
  Table of Content
=======================================
  01. Normalize CSS
  02. Theme Default CSS
=====================================*/
/**color Variable**/
span {
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit; }

.admin-bar .ic-header-area,
.admin-bar .ic-sticky {
  top: 32px; }

@media screen and (max-width: 782px) {
  .admin-bar .ic-header-area,
  .admin-bar .ic-sticky {
    top: 46px; } }
@media screen and (max-width: 600px) {
  #wpadminbar {
    position: fixed; } }
.loading-content {
  position: relative; }
  .loading-content:before {
    z-index: 99;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -9px;
    margin-left: -9px;
    content: "";
    display: inline-block;
    width: 25px;
    height: 25px;
    border: 1px solid #BBB;
    border-left-color: #000;
    border-radius: 50%;
    vertical-align: middle;
    visibility: visible;
    opacity: 1;
    transition: opacity .2s ease, visibility .2s ease;
    -webkit-animation: wd-rotate 450ms infinite linear;
    animation: wd-rotate 450ms infinite linear; }
  .loading-content > * {
    opacity: .5 !important;
    pointer-events: none; }

.elementor-editor-active .ic-header-area {
  position: relative; }

.ic-copyright-warper .copyright-content p {
  width: auto !important; }

@media only screen and (max-width: 575.98px) {
  .widget_nav_menu ul.menu {
    text-align: center;
    margin-top: 30px; } }
.widget_nav_menu ul.menu a {
  color: #FFFFFF;
  line-height: 200%;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease; }
  .widget_nav_menu ul.menu a:hover {
    color: #D79711; }

.ic-footer-copyright {
  background-color: #19294F; }

.ic-breadcumb-warper ul {
  list-style: none;
  margin: 0; }
  .ic-breadcumb-warper ul li {
    color: #fff;
    margin-right: 10px;
    font-size: 22px;
    font-weight: 600;
    font-family: firaSans-semiBold;
    text-transform: capitalize;
    position: relative;
    display: inline-block; }
    @media only screen and (max-width: 991.98px) {
      .ic-breadcumb-warper ul li {
        font-size: 16px; } }
    .ic-breadcumb-warper ul li a {
      color: #fff;
      font-size: 22px;
      font-weight: 600;
      font-family: firaSans-semiBold; }
      .ic-breadcumb-warper ul li a:hover {
        color: #D79711; }
    .ic-breadcumb-warper ul li:after {
      content: "//";
      margin-left: 10px;
      font-size: 22px; }
      @media only screen and (max-width: 991.98px) {
        .ic-breadcumb-warper ul li:after {
          font-size: 16px; } }
    .ic-breadcumb-warper ul li:last-child {
      margin-right: 0; }
      .ic-breadcumb-warper ul li:last-child:after {
        display: none; }

img {
  max-width: 100%;
  height: auto; }

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0; }

/* Firefox */
input[type=number] {
  -moz-appearance: textfield; }

.ic-properties-map {
  height: 600px; }
  @media only screen and (max-width: 767.98px) {
    .ic-properties-map {
      height: auto; } }

.ic-properties-grid-warper .ic-property-items {
  padding-bottom: 50px; }

.ic-properties-grid-warper.map-active .ic-property-items {
  height: 600px;
  overflow-y: auto;
  padding-bottom: 0; }
  @media only screen and (max-width: 767.98px) {
    .ic-properties-grid-warper.map-active .ic-property-items {
      height: auto;
      overflow-y: visible;
      padding-bottom: 50px; } }
  .ic-properties-grid-warper.map-active .ic-property-items::-webkit-scrollbar {
    width: 8px;
    border-radius: 6px;
    -webkit-box-shadow: inset 0 0 3px 1px #ccc;
    box-shadow: inset 0 0 3px 1px #ccc; }
  .ic-properties-grid-warper.map-active .ic-property-items::-webkit-scrollbar-thumb {
    background-color: #00123C;
    border-radius: 6px;
    outline: 0; }
  .ic-properties-grid-warper.map-active .ic-property-items::-webkit-scrollbar-track {
    -webkit-box-shadow: none; }

.pagination-wrapper {
  margin: 30px 0; }
  .pagination-wrapper ul {
    display: flex;
    position: relative;
    justify-content: center;
    text-align: center;
    margin: 0;
    padding: 0; }
    .pagination-wrapper ul li {
      display: inline-block;
      position: relative;
      margin: 0 8px; }
      .pagination-wrapper ul li span,
      .pagination-wrapper ul li a {
        display: inline-block;
        color: #fff;
        width: 40px;
        height: 40px;
        border-radius: 4px;
        background-color: rgba(0, 18, 60, 0.5);
        font-weight: 400;
        font-size: 20px;
        line-height: 40px;
        -webkit-transition: all all 0.3s ease;
        -moz-transition: all all 0.3s ease;
        -o-transition: all all 0.3s ease;
        transition: all all 0.3s ease; }
        @media only screen and (max-width: 767.98px) {
          .pagination-wrapper ul li span,
          .pagination-wrapper ul li a {
            width: 20px;
            height: 20px;
            margin: 0 4px;
            font-size: 12px;
            line-height: 20px; } }
        .pagination-wrapper ul li span.current, .pagination-wrapper ul li span:hover,
        .pagination-wrapper ul li a.current,
        .pagination-wrapper ul li a:hover {
          color: #fff;
          background-color: #00123c; }
          .pagination-wrapper ul li span.current a, .pagination-wrapper ul li span:hover a,
          .pagination-wrapper ul li a.current a,
          .pagination-wrapper ul li a:hover a {
            color: #FFFFFF; }
      .pagination-wrapper ul li span {
        line-height: 38px; }
      .pagination-wrapper ul li i {
        font-size: 24px; }
        @media only screen and (max-width: 767.98px) {
          .pagination-wrapper ul li i {
            font-size: 17px;
            line-height: 22px; } }

.map-info-window .item-header {
  width: 120px;
  height: 90px;
  padding: 5px;
  float: left;
  overflow: hidden;
  margin-bottom: 5px; }
  .map-info-window .item-header img {
    width: 120px; }
.map-info-window .item-body {
  width: 180px;
  height: 90px;
  padding: 6px 15px 0 5px;
  float: left; }
  .map-info-window .item-body .item-title {
    font-size: 13px;
    white-space: normal;
    -o-text-overflow: unset;
    text-overflow: unset;
    line-height: 18px;
    margin-bottom: 2px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    visibility: visible; }
    .map-info-window .item-body .item-title a {
      color: #222222;
      font-size: 13px;
      line-height: 18px; }
  .map-info-window .item-body .item-info {
    line-height: 20px; }
    .map-info-window .item-body .item-info .item-type {
      text-transform: uppercase;
      font-size: 11px;
      font-weight: 500; }

.gm-style-iw-c[style], .gm-style-iw-d[style], .gm-style-iw[style] {
  padding: 0 !important;
  max-width: 300px !important;
  overflow: hidden !important; }

ul.deatil_features {
  column-count: 3;
  column-gap: 20px; }
  @media only screen and (max-width: 991.98px) {
    ul.deatil_features {
      column-count: 2; } }
  @media only screen and (max-width: 767.98px) {
    ul.deatil_features {
      column-count: 1; } }

.ic-single-map {
  height: 400px;
  width: 100%;
  margin-bottom: 40px; }
  @media only screen and (max-width: 767.98px) {
    .ic-single-map {
      height: 300px; } }

.form-error {
  border: 1px solid #dc3545 !important; }

.ic-properties-link ul {
  column-count: 3;
  column-gap: 20px; }
  @media only screen and (max-width: 991.98px) {
    .ic-properties-link ul {
      column-count: 2; } }
  @media only screen and (max-width: 767.98px) {
    .ic-properties-link ul {
      column-count: 1; } }

.ic-footer-properties .ic-properties-warper {
  display: block;
  gap: 0; }

button.ajax-loading {
  padding-right: 40px;
  position: relative; }
  button.ajax-loading:before {
    content: "";
    position: absolute;
    top: 50%;
    right: 14px;
    margin-top: -7px;
    display: inline-block;
    width: 15px;
    height: 15px;
    border: 2px solid #fff;
    border-left-color: transparent;
    border-radius: 50%;
    vertical-align: middle;
    visibility: visible;
    opacity: 1;
    transition: opacity .2s ease, visibility .2s ease;
    -webkit-animation: wd-rotate 450ms infinite linear;
    animation: wd-rotate 450ms infinite linear; }

@-webkit-keyframes wd-rotate {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }
@keyframes wd-rotate {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }
.ic-blog-categories ul.children {
  margin-left: 25px; }

/*-------------------------
  # 404 Page
-------------------------*/
body.error404 .ic-header {
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.06);
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.06); }

.ic-error-content {
  text-align: center; }
  .ic-error-content h2 {
    color: #000509;
    font-size: 200px;
    font-weight: 800; }
    @media only screen and (max-width: 1650px) {
      .ic-error-content h2 {
        font-size: 160px; } }
    @media only screen and (max-width: 991.98px) {
      .ic-error-content h2 {
        font-size: 130px; } }
    @media only screen and (max-width: 767.98px) {
      .ic-error-content h2 {
        font-size: 120px; } }
    @media only screen and (max-width: 480px) {
      .ic-error-content h2 {
        font-size: 100px; } }
  .ic-error-content p {
    margin-top: 10px;
    margin-bottom: 30px; }

/*--------- * Blog Comment ---------*/
.ic-blog-comment-box .comment-list {
  margin-top: 20px;
  margin-bottom: 50px; }
  .ic-blog-comment-box .comment-list > h4 {
    margin-bottom: 30px;
    font-size: 30px; }
  .ic-blog-comment-box .comment-list .media {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
  .ic-blog-comment-box .comment-list .comment-image {
    margin-right: 20px;
    -webkit-flex: 0 0 70px;
    -ms-flex: 0 0 70px;
    flex: 0 0 70px; }
  .ic-blog-comment-box .comment-list .media-body {
    -webkit-flex: 0 0 calc(100% - 90px);
    -ms-flex: 0 0 calc(100% - 90px);
    flex: 0 0 calc(100% - 90px); }
    .ic-blog-comment-box .comment-list .media-body h4 {
      font-size: 18px;
      font-weight: 600;
      text-transform: capitalize; }
    .ic-blog-comment-box .comment-list .media-body p {
      margin-bottom: 10px; }
    .ic-blog-comment-box .comment-list .media-body .comment-title {
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      -webkit-justify-content: space-between;
      justify-content: space-between; }
      @media only screen and (max-width: 480px) {
        .ic-blog-comment-box .comment-list .media-body .comment-title {
          -webkit-flex-direction: column;
          -ms-flex-direction: column;
          flex-direction: column; } }
    .ic-blog-comment-box .comment-list .media-body .comm-reply {
      cursor: pointer; }
  .ic-blog-comment-box .comment-list .comment-view {
    margin-bottom: 20px; }
  .ic-blog-comment-box .comment-list ul.children {
    margin-left: 35px; }
.ic-blog-comment-box p.logged-in-as {
  margin-bottom: 0; }

.ic-currency-switcher select {
  cursor: pointer;
  background: transparent;
  border: none;
  color: #fff;
  padding: 3px 22px 3px 15px;
  z-index: 9;
  background-repeat: no-repeat;
  background-position: calc(100% - 4px) 50%;
  background-size: 12px;
  background-image: url(../images/down-arrow-white.png); }
  .ic-currency-switcher select option {
    background-color: #fff;
    color: #000; }
  .ic-currency-switcher select:focus {
    color: #fff;
    background-color: transparent;
    border-color: transparent; }

.wpml-ls-legacy-dropdown-click {
  width: auto;
  max-width: 100%; }

.wpml-ls-legacy-dropdown-click a {
  display: block;
  text-decoration: none;
  color: #fff;
  border: none;
  background-color: transparent;
  padding: 5px 10px;
  line-height: 1; }

.wpml-ls-legacy-dropdown-click a:hover,
.wpml-ls-legacy-dropdown-click a:focus,
.wpml-ls-legacy-dropdown-click .wpml-ls-current-language:hover > a {
  color: #fff;
  background: transparent; }

.wpml-ls-legacy-dropdown-click .wpml-ls-sub-menu {
  border-top: 1px solid #fff;
  background: #fff;
  min-width: 170px;
  padding: 10px 5px; }
  .wpml-ls-legacy-dropdown-click .wpml-ls-sub-menu li a {
    color: #000; }

.wpml-ls-legacy-dropdown-click a.wpml-ls-item-toggle:after {
  content: '';
  vertical-align: middle;
  display: inline-block;
  border: none;
  border-top: none;
  position: absolute;
  right: 5px;
  height: 16px;
  width: 16px;
  top: calc(50% - 7px);
  background-repeat: no-repeat;
  background-position: calc(100% - 4px) 50%;
  background-size: 12px;
  background-image: url(../images/down-arrow-white.png); }

/*# sourceMappingURL=ic-core.css.map */
