/*=====================================
  Table of Content
=======================================
  01. Normalize CSS
  02. Theme Default CSS
=====================================*/
/**color Variable**/
.loading-content {
  position: relative; }
  .loading-content:before {
    z-index: 99;
    position: absolute;
    top: 30px;
    left: 50%;
    margin-top: -9px;
    margin-left: -9px;
    content: "";
    display: inline-block;
    width: 25px;
    height: 25px;
    border: 1px solid #BBB;
    border-left-color: #000;
    border-radius: 50%;
    vertical-align: middle;
    visibility: visible;
    opacity: 1;
    transition: opacity .2s ease, visibility .2s ease;
    -webkit-animation: wd-rotate 450ms infinite linear;
    animation: wd-rotate 450ms infinite linear; }
  .loading-content > * {
    opacity: 0 !important;
    visibility: hidden !important; }

@-webkit-keyframes wd-rotate {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }
@keyframes wd-rotate {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }
.admin-bar .ic-cart-head {
  top: 32px; }

.elementor-editor-active .ic-header-area {
  position: relative; }

/*-------------------------
  # 404 Page
-------------------------*/
body.error404 .ic-header {
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.06);
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.06); }

.ic-error-content {
  text-align: center; }
  .ic-error-content h2 {
    color: #000000;
    line-height: 200px;
    font-size: 200px;
    font-weight: 800; }
    @media only screen and (max-width: 1650px) {
      .ic-error-content h2 {
        font-size: 160px;
        line-height: 160px; } }
    @media only screen and (max-width: 991.98px) {
      .ic-error-content h2 {
        font-size: 130px;
        line-height: 130px; } }
    @media only screen and (max-width: 767.98px) {
      .ic-error-content h2 {
        font-size: 120px;
        line-height: 120px; } }
    @media only screen and (max-width: 480px) {
      .ic-error-content h2 {
        font-size: 100px;
        line-height: 100px; } }
  .ic-error-content p {
    margin-top: 10px;
    margin-bottom: 30px; }

/*# sourceMappingURL=style.css.map */
