/*-------------------------
  # 404 Page
-------------------------*/
body.error404 {
  .ic-header {
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.06);
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.06);
  }
}

.ic-error-content {
  text-align: center;

  h2 {
    color: $color-black;
    font-size: 200px;
    font-weight: 800;

    @media #{$max1650} {
      font-size: 160px;
    }
    @media #{$max991} {
      font-size: 130px;
    }
    @media #{$max767} {
      font-size: 120px;
    }
    @media #{$max480} {
      font-size: 100px;
    }
  }

  p {
    margin-top: 10px;
    margin-bottom: 30px;
  }

}
