/*--------- * Blog Comment ---------*/
.ic-blog-comment-box {
  .comment-list {
    margin-top: 20px;
    margin-bottom: 50px;

    & > h4 {
      margin-bottom: 30px;
      font-size: 30px;
    }
    .media {
      @include d-flex();
    }
    .comment-image {
      margin-right: 20px;
      @include flex(0 0 70px);
    }

    .media-body {
      @include flex(0 0 calc(100% - 90px));

      h4 {
        font-size: 18px;
        font-weight: 600;
        text-transform: capitalize;
      }

      p {
        margin-bottom: 10px;
      }

      .comment-title {
        @include d-flex();
        @include justify-content(space-between);
        @media #{$max480} {
          @include flex-direction(column);
        }
      }

      .comm-reply {
        cursor: pointer;
      }
    }

    .comment-view {
      margin-bottom: 20px;
    }

    ul.children{
      margin-left: 35px;
    }
  }

  p.logged-in-as {
    margin-bottom: 0;
  }
}