.ic-currency-switcher {
  select {
    cursor: pointer;
    background: transparent;
    border: none;
    color: #fff;
    padding: 3px 22px 3px 15px;
    z-index: 9;
    background-repeat: no-repeat;
    background-position: calc(100% - 4px) 50%;
    background-size: 12px;
    background-image: url(../images/down-arrow-white.png);

    option {
      background-color: #fff;
      color:#000;
    }

    &:focus {
      color: #fff;
      background-color: transparent;
      border-color: transparent;
    }
  }

  //.select2-selection__rendered {
  //  padding-left: 10px !important;
  //  padding-right: 25px !important;
  //  color: #fff !important;
  //}
  //.select2-container--default .select2-selection--single {
  //  background-color: transparent;
  //  border: none;
  //  border-radius: 0;
  //}
  //.select2-container--default .select2-selection--single .select2-selection__arrow b {
  //  border-color: #fff transparent transparent transparent;
  //}
  //.select2-container--default .select2-search--dropdown .select2-search__field {
  //  border: 1px solid #aaa;
  //  height: 25px !important;
  //}
}