.wpml-ls-legacy-dropdown-click {
  width: auto;
  max-width: 100%;
}

.wpml-ls-legacy-dropdown-click a {
  display: block;
  text-decoration: none;
  color: #fff;
  border: none;
  background-color: transparent;
  padding: 5px 10px;
  line-height: 1;
}
.wpml-ls-legacy-dropdown-click a:hover,
.wpml-ls-legacy-dropdown-click a:focus,
.wpml-ls-legacy-dropdown-click .wpml-ls-current-language:hover>a {
  color: #fff;
  background: transparent;
}
.wpml-ls-legacy-dropdown-click .wpml-ls-sub-menu {
  border-top: 1px solid #fff;
  background: #fff;
  min-width: 170px;
  padding: 10px 5px;

  li{
    a{
      color: #000;
    }
  }
}

.wpml-ls-legacy-dropdown-click a.wpml-ls-item-toggle:after {
  content: '';
  vertical-align: middle;
  display: inline-block;
  border: none;
  border-top: none;
  position: absolute;
  right: 5px;
  height: 16px;
  width: 16px;
  top: calc(50% - 7px);
  background-repeat: no-repeat;
  background-position: calc(100% - 4px) 50%;
  background-size: 12px;
  background-image: url(../images/down-arrow-white.png);
}




















