span {
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

.admin-bar {
  .ic-header-area,
  .ic-sticky {
    top: 32px;
  }
}

@media screen and (max-width: 782px) {
  .admin-bar {
    .ic-header-area,
    .ic-sticky {
      top: 46px;
    }
  }
}

@media screen and (max-width: 600px) {
  #wpadminbar {
    position: fixed;
  }
}

.loading-content {
  position: relative;

  &:before {
    z-index: 99;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -9px;
    margin-left: -9px;
    content: "";
    display: inline-block;
    width: 25px;
    height: 25px;
    border: 1px solid #BBB;
    border-left-color: #000;
    border-radius: 50%;
    vertical-align: middle;
    visibility: visible;
    opacity: 1;
    transition: opacity .2s ease, visibility .2s ease;
    -webkit-animation: wd-rotate 450ms infinite linear;
    animation: wd-rotate 450ms infinite linear;
  }

  & > * {
    opacity: .5 !important;
    pointer-events: none;
  }
}




.elementor-editor-active .ic-header-area {
  position: relative;
}

//footer copyright p
.ic-copyright-warper .copyright-content p {
  width: auto !important;
}

.widget_nav_menu ul.menu {
  @media #{$max575} {
    text-align: center;
    margin-top: 30px;
  }

  a {
    color: $color-white;
    line-height: 200%;
    @include transition(0.5s);

    &:hover {
      color: $color-golden;
    }
  }
}

.ic-footer-copyright {
  background-color: #19294F;
}

.ic-breadcumb-warper {
  ul {
    list-style: none;
    margin: 0;

    li {
      color: #fff;
      margin-right: 10px;
      font-size: 22px;
      font-weight: 600;
      font-family: firaSans-semiBold;
      text-transform: capitalize;
      position: relative;
      display: inline-block;

      @media #{$max991} {
        font-size: 16px;
      }

      a {
        color: #fff;
        font-size: 22px;
        font-weight: 600;
        font-family: firaSans-semiBold;

        &:hover {
          color: $color-golden;
        }
      }

      &:after {
        content: "//";
        margin-left: 10px;
        font-size: 22px;

        @media #{$max991} {
          font-size: 16px;
        }
      }

      &:last-child {
        margin-right: 0;

        &:after {
          display: none;
        }
      }
    }
  }
}

img {
  max-width: 100%;
  height: auto;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.ic-properties-map {
  height: 600px;

  @media #{$max767} {
    height: auto;
  }
}

.ic-properties-grid-warper .ic-property-items {
  padding-bottom: 50px;
}

.ic-properties-grid-warper.map-active .ic-property-items {
  height: 600px;
  overflow-y: auto;
  padding-bottom: 0;

  @media #{$max767} {
    height: auto;
    overflow-y: visible;
    padding-bottom: 50px;
  }

  &::-webkit-scrollbar {
    width: 8px;
    border-radius: 6px;
    -webkit-box-shadow: inset 0 0 3px 1px #ccc;
    box-shadow: inset 0 0 3px 1px #ccc;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $color-dark-blue;
    border-radius: 6px;
    outline: 0;
  }

  &::-webkit-scrollbar-track {
    -webkit-box-shadow: none;
  }
}

.pagination-wrapper {
  margin: 30px 0;

  ul {
    display: flex;
    position: relative;
    justify-content: center;
    text-align: center;
    margin: 0;
    padding: 0;

    li {
      display: inline-block;
      position: relative;
      margin: 0 8px;

      span,
      a {
        display: inline-block;
        color: #fff;
        width: 40px;
        height: 40px;
        border-radius: 4px;
        background-color: rgba($color-dark-blue, 0.5);
        font-weight: 400;
        font-size: 20px;
        line-height: 40px;
        @include transition(all 0.3s);

        @media #{$max767} {
          width: 20px;
          height: 20px;
          margin: 0 4px;
          font-size: 12px;
          line-height: 20px;
        }

        &.current,
        &:hover {
          color: #fff;
          background-color: rgba($color-dark-blue, 1);

          a {
            color: $color-white;
          }
        }
      }

      span {
        line-height: 38px;
      }

      i {
        font-size: 24px;
        @media #{$max767} {
          font-size: 17px;
          line-height: 22px;
        }
      }
    }
  }
}

.map-info-window {
  .item-header {
    width: 120px;
    height: 90px;
    padding: 5px;
    float: left;
    overflow: hidden;
    margin-bottom: 5px;

    img {
      width: 120px;
    }
  }

  .item-body {
    width: 180px;
    height: 90px;
    padding: 6px 15px 0 5px;
    float: left;

    .item-title {
      font-size: 13px;
      white-space: normal;
      -o-text-overflow: unset;
      text-overflow: unset;
      line-height: 18px;
      margin-bottom: 2px;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      visibility: visible;

      a {
        color: #222222;
        font-size: 13px;
        line-height: 18px;
      }
    }

    .item-info {
      line-height: 20px;

      .item-type {
        text-transform: uppercase;
        font-size: 11px;
        font-weight: 500;
      }
    }
  }
}

.gm-style-iw-c[style], .gm-style-iw-d[style], .gm-style-iw[style] {
  padding: 0 !important;
  max-width: 300px !important;
  overflow: hidden !important;
}

ul.deatil_features {
  column-count: 3;
  column-gap: 20px;

  @media #{$max991} {
    column-count: 2;
  }
  @media #{$max767} {
    column-count: 1;
  }
}

.ic-single-map{
  height: 400px;
  width: 100%;
  margin-bottom: 40px;

  @media #{$max767} {
    height: 300px;
  }
}

.form-error {
  border: 1px solid #dc3545 !important;
}

.ic-properties-link ul {
  column-count: 3;
  column-gap: 20px;

  @media #{$max991} {
    column-count: 2;
  }
  @media #{$max767} {
    column-count: 1;
  }
}

.ic-footer-properties .ic-properties-warper {
  display: block;
  gap: 0;
}

button.ajax-loading{
  padding-right: 40px;
  position: relative;

  &:before {
    content: "";
    position: absolute;
    top: 50%;
    right: 14px;
    margin-top: -7px;
    display: inline-block;
    width: 15px;
    height: 15px;
    border: 2px solid #fff;
    border-left-color: transparent;
    border-radius: 50%;
    vertical-align: middle;
    visibility: visible;
    opacity: 1;
    transition: opacity .2s ease, visibility .2s ease;
    -webkit-animation: wd-rotate 450ms infinite linear;
    animation: wd-rotate 450ms infinite linear;
  }
}

@-webkit-keyframes wd-rotate {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes wd-rotate {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.ic-blog-categories ul.children{
  margin-left: 25px;
}