/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 99999; /* Sit on top */
    padding-top: 30px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.8); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #0073aa;
    width: 50%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }
    to {
        top: 0;
        opacity: 1
    }
}

@keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }
    to {
        top: 0;
        opacity: 1
    }
}

/* The Close Button */
.close {
    color: #FFFFFF;
    float: right;
    font-size: 28px;
    font-weight: 700;
    position: absolute;
    right: 15px;
    top: 45%;
    transform: translateY(-50%);
}

.close:hover,
.close:focus {
    color: #000000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 15px;
    background-color: #0073aa;
    color: #FFFFFF;
    position: relative;
}

.modal-header h2 {
    color: #FFFFFF;
    margin: 0;
    padding: 0;
}

.modal-body {
    padding: 15px;
}

.modal-footer {
    padding: 15px;
    background-color: #0073aa;
    color: #FFFFFF;
}

.modal-footer h3 {
    color: #FFFFFF;
    margin: 0;
    padding: 0;
}

/* modal form */
.modal form .form-table td fieldset label {
    display: block;
}


#page_import_modal .ic-ajax-loading {
    padding-right: 40px;
    position: relative;
}

#page_import_modal .ic-ajax-loading::before {
    content: "";
    position: absolute;
    top: 50%;
    right: 14px;
    margin-top: -7px;
    display: inline-block;
    width: 10px;
    height: 10px;
    border: 2px solid #fff;
    border-left-color: transparent;
    border-radius: 50%;
    vertical-align: middle;
    visibility: visible;
    opacity: 1;
    transition: opacity .2s ease, visibility .2s ease;
    -webkit-animation: wd-rotate 450ms infinite linear;
    animation: wd-rotate 450ms infinite linear;
}

@-webkit-keyframes wd-rotate {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes wd-rotate {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}